.bg-image{
    background-image: url(../img/03.jpg);
    height: 100%;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;

}
.bg-image-2{
    background-image: url(../img/04.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
}
.bg-image-3{
    background-image: url(../img/5.jpg);
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}